{#
2016 fundraising snippet.

Variables:

  @text: main text - Text of snippet.
  @icon: image - Optional. Snippet icon. 64x64px. SVG or PNG preferred.
  @button_label: Required. Text for donate button.
  @donation_form_url: Required. Url to the donation form.

  @button_color: Default blue. Red, green, orange and gray are also options.
  @selected_amount_button_color: Default gray. Hashcodes, blue and darkgray are also options.

  @locale: Default en-US. String for the locale code.
  @currency_code: Default usd. The code for the currency. Examle gbp, cad, usd.

  @small_buttons: checkbock - Scales the buttons down.
  @show_donation_amount_buttons: checkbox. optional. Use donation_amount buttons or a simple button.
  @donation_amount_first: number. Required if show_donation_amount_buttons is set. First button amount.
  @donation_amount_second: number. Required if show_donation_amount_buttons is set. Second button amount.
  @donation_amount_third: number. Required if show_donation_amount_buttons is set. Third button amount.
  @donation_amount_fouth: number. Required if show_donation_amount_buttons is set. Fourth button amount.
  @selected_button: Default donation_amount_second. Donation amount button that's selected by default.
  @show_monthly_checkbox: checkbox. Optional. Requires show_donation_amount_buttons. Hides or displays a monthly checkbox.
  @monthly_checkbox_label_text: Defaults to 'Make my donation monthly'. Label text for monthly checkbox.

  @highlight_color: Optional. Defaults to #FFE7AC.
  @button_font_size: Default small. Changes the size of the single donation button. Options are small and large. Small is 16px, and large is 18px.
  @text_color: Optional. Defaults to #3C3C3C. Colour for primary paragraph text.
  @background_color: Optional. about:home background color.

  @blockable: checkbox - Check to allow user to block this snippet.
  @block_button_text - small text - Text to display while hovering over opt out button. Default "Remove this"

#}

<style>
  #snippetContainer div.snippet img.icon {
    margin: 0 8px 0 0;
    float: none;
  }

  #snippets {
    color: {{ text_color|default("#3C3C3C", true) }};
  }

  .snippet p {
    padding-left: 0;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }

  #mofo-eoy-fundraiser {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 10px 0 5px 0;
  }

  .snippet .icon {
    position: relative;
    right: 0;
    top: 0;
    display: inline-block;
    height: auto;
    max-height: 64px;
    vertical-align: middle;
  }

  .snippet .display-item {
    display: table-cell;
    vertical-align: middle;
  }
  .snippet .display-container {
    display: table;
  }

{% if background_color %}
  body {
    background-color: {{ background_color }};
  }

  #launcher {
    background: hsl(0,0%,95%);
  }
{% endif %}

  .button-link {
    color: #FFFFFF;
  }

  .button-link:hover {
    color: #FFFFFF;
  }

{% if button_color == "red" %}

  .button-link {
    background: #C94C4A;
  }

  .button-link:hover {
    background: #E8B2B2;
  }
{% elif button_color == "green" %}

  .button-link {
    background: #69C9A2;
  }

  .button-link:hover {
    background: #BEE8D7;
  }
{% elif button_color == "gray" %}

  .button-link {
    background: #D5DADE;
    color: #3C3C3C;
  }

  .button-link:hover {
    background: rgba(213, 218, 222, .6);
    color: #3C3C3C;
  }
{% elif button_color == "orange" %}

  .button-link {
    background: #FF6E2E;
  }

  .button-link:hover {
    background: #FF976E;
  }
{% else %}

  .button-link {
    background: #2FA0F0;
  }

  .button-link:hover {
    background: #4ACCFF;
  }
{% endif %}

  .top-button-link {
    white-space: nowrap;
    padding: 5px 13px;
    margin: 5px 0 5px 5px;
  }

  .bottom-button-link {
    padding: 7px 4px;
    min-width: 122px;
    max-width: 132px;
    float: right;
  }

  .donation-amount {
    padding: 6px 0;
    min-width: 73px;
    float: left;
    margin-right: 7px;
    background: #D5DADE;
    color: #3C3C3C;
  }

  .donation-amount:hover {
    background: rgba(213, 218, 222, .6);
  }

  .donation-amount.button-selected {
    color: #FFFFFF;
{% if selected_amount_button_color == "blue" %}
    background: #2FA0F0;
{% elif selected_amount_button_color == "darkgray" %}
    background: #7D868C;
{% else %}
    background: {{ selected_amount_button_color|default("#9EA9B2", true) }};
{% endif %}
  }

  .donation-amounts {
    overflow: hidden;
    margin-top: 15px;
  }
{% if small_buttons %}

  .donation-amounts {
    transform: scale(0.795);
  }
{% endif %}

  .button {
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

{% if button_font_size == "large" %}
  .button {
    font-size: 18px;
  }
{% else %}
  .button {
    font-size: 16px;
  }
{% endif %}

  .monthly-checkbox-container {
    margin: 11px 0 0;
  }

  .monthly-checkbox {
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
  }

  em {
    transition: background 800ms linear;
    font-style: normal;
    box-decoration-break: clone;
    margin: 0px -2px;
    padding: 2px 2px;
    font-weight: bold;
  }

  em.active {
    background: {{ highlight_color|default("#FFE7AC", true) }};
  }

{% if blockable %}
  .block-snippet-button {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 10;
    visibility: hidden;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAeFBMVEUAAAAAAAAAAAABAQEAAAAAAAAAAAAAAAAAAAAAAADDw8OQkJAAAAAAAAAAAAAAAAD9/f38/Pz6+vr5+fnt7e3i4uLd3d3Z2dmgoKBdXV0mJibv7++amprNzc2amprv7+////9zc3OwsLD29vaPj4+xsbHCwsLBwcHrzmRyAAAAIHRSTlMABAg9HhEMNxkir38xLCkV/Pr39OHTzceOYUrliLuJ5ik+KlgAAAGhSURBVEjHnZbrdoIwDIAXWii3UuV+0wV0+v5vOEBH2ajg8v3y6PlO2pgm+TAAYD0B+HgDsBxbuXzCVbZj7VgAju16USjYhAgjz7WdrVjgKC5FHfh5kxwOSZP7QS0kVw68PJLNJQuKIy44FgGT3LbAHMKNWJviirRlkWsKNIQIqwyNZFU4BFobnihjfEFcCm92tMF83MBnfxwYjBNuchocWN6cCx938AVf5MBywxJ3KUPX0seKqnhfiavIhvlYLMM3yNjP0UDJFmcuN/zF7aI/t1I9lCFIqo1r1y+Nr+6qnXQI87iJDJZGNzra6JZOIG2Y0iWK+bt7N9JrY+Q+/1yIKWmOVy9qt3862lgGPdaeM2U4QDQ52tAEY55BhT4aHS1r/FDBeJUcTY7JwHy8jMVZgybHZGDD+KQkuHbMBiZP5YBrx2zggaCQDka5PiHJhL9yq2B6c8FslmVvKsud4u8Nxb/3xPr1E9t9yP3qIf+vXZylAkJTIrQ+QoMltHHCsCCMJMLgo49XPcTPpiF+1kOcsCrsLSSfeiGhrj305Yqwwn0Dwi/I5rQKpwMAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    border: 0;
  }

  .block-snippet-overlay {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 10px 5px 5px 5px;
    margin-top: -10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    box-sizing: content-box;
  }

  .block-snippet-button:hover ~ .block-snippet-overlay {
    background-color: rgba(0, 0, 0, .04);
  }

  .block-snippet-button:hover {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAe1BMVEUAAAAAAAAAAAAAAAABAQEAAAAAAAAAAAAAAAABAQEAAACQkJAAAADDw8P9/f38/Pz6+vr5+fni4uLZ2dmgoKCampomJibv7+/d3d3ExMRcXFzt7e3t7e3Nzc0AAABeXl7c3Nzv7+/////DOzLdkYz78/LlqaXPYlveko1iPwM8AAAAInRSTlMACwceOhcRBCo+NH8ir/z69/TTx46ISuXNsGHh4LskYszmffUm0QAAAbBJREFUSMelluuSgjAMRrdtegW84/22AXXf/wlXcNzAGEC755fjeCYfmDb5YrBWihpp7dcbWCmM1qpGa3PX3vh96kIAfwdCcOmAJYVWDpZJdl5NR6Pp6pwlS3BKC9lVQhjlfDIfY4PxPPFOGWE7SjjI9/jCPgfHFpJGhe0MWWbboIx8NVJYTLCDyQLSp0PGETLsIYPj06EaB+zl0K5jhYINDrAB1XhvQocFDrIIWlAst50MK5OtM5JizfANZn/RpHY5fX+5YovrhT7nTj/KCOX3ZNyKsmn8FDdydl6JOpdxSdMoKoeMoukkztg6F8wpRlFRklFBUedQJxPpstG7JTm10S46XqaCcjEOGe1kVocMWYdkIgvaVo+yRs7hDFxXDyMUrJBzOANXoMRd8VNkHTKIqX8oI2QdMohRjBIVLOLxI15yxF/Z1zAl3zC9bVlybTnQ/CXT/ENHrGSO2OMg7zoPcvlykCOui88upXsR+9nVd3JGRlywEdd4xLCIGEnRg4/G66lrvJ6q8coPcZ/vuCHuaYjHrQr8QrKuF5Lv9YYWkqG1Bx5rD9Da87/lKmKF+wUdVNNtsJwP7gAAAABJRU5ErkJggg==");
  }

  .block-snippet-button:active {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAe1BMVEUAAAAAAAAAAAAAAAABAQEAAAABAQEAAAAAAAAAAAD9/f3Dw8MAAAAAAACRkZH6+vr5+fnv7+/i4uLd3d3Z2dmgoKBdXV0mJiYAAAAAAACPj4/t7e3t7e2ampoAAACamprOzs7MzMyYmJj///8QEBB5eXnw8PCWlpZAQEB2Ec74AAAAI3RSTlMABgseOio+GRA0+68iEn/39OXTzceOYUoWFX/h4Igjiby5hsu+k6AAAAGoSURBVEjHnZbpYoIwEISbZEMIl8oNam27eLz/E9YY22DdgmR+efAxGxJ2540SY/wmxog/ycvDVombVBvOY4ynKpFaQ3AVaC0TlXI2CXRCQtPHxWYdRetNEWcNSNFZiHYQMsjKCEeKyiyQwjiRhJKw3+GTdl8gFcWwUOg6R1J5rUXInokEqhX+o1UFiWXGxDvEOKEY3i0z9vjESX08+jAurMe0j+CO4UpXOKtKK/5rksp6NY+sapmyHxMBOb6gHAS/m3Ry734/nfFB55P7vJcdu5sEO0dchuOYOA4Xx2wDwe8r6cfEYBhHDGMms6thCkpXxmB0dISRK7UEZRCeNNHotpYhvhhFTWIqC01dBEMQiL0Mr3W1OkaCIQmMdcvMUgqkGIrAwiyGC9ggxVAEbkBwsytrJBiSwHVgkQgJhiQw8kG8CvNYvsdD9thKc2Cy1w9MJkOPY+l3+Fkqs4WvmNmZ7YIXeVm7OMiOLWxKxsSj9Xk0WI827jEsPEaSx+DzHq9uiAeHLTHED4Eb4lRU6P9Ghd5GhelAkhGBZDb2gI09QMQer3DlEeG+AWkO2NrlPO+kAAAAAElFTkSuQmCC");
  }

  #mofo-eoy-fundraiser:hover > .block-snippet-button,
  #brandLogo:hover ~ #snippetContainer .block-snippet-button {
    visibility: visible;
  }
{% endif %}
</style>
<div class="snippet" id="mofo-eoy-fundraiser">
  {% if blockable %}
    <button class="block-snippet-button" title="{{ block_button_text|default('Remove this', true) }}"></button>
    <div id="block-snippet-overlay" class="block-snippet-overlay">
  {% endif %}
    <div class="display-container">
      {% if icon %}
        <img class="icon" src="{{ icon }}" />
      {% endif %}

      <p class="display-item">{{ text|safe }}</p>

      {% if not show_donation_amount_buttons %}
        <div class="display-item">
          <a class="top-button-link button button-link" href="{{ donation_form_url|safe }}">
            {{ button_label }}
          </a>
        </div>
      {% endif %}
    </div>
    {% if show_donation_amount_buttons %}
      <div class="donation-amounts">
        <button class="button donation-amount donation-amount-first" data-amount="{{ donation_amount_first }}"></button>
        <button class="button donation-amount donation-amount-second" data-amount="{{ donation_amount_second }}"></button>
        <button class="button donation-amount donation-amount-third" data-amount="{{ donation_amount_third }}"></button>
        <button class="button donation-amount donation-amount-fourth" data-amount="{{ donation_amount_fourth }}"></button>

        <a class="bottom-button-link button button-link" href="{{ donation_form_url|safe }}">
          {{ button_label }}
        </a>
      </div>
      {% if show_monthly_checkbox %}
        <div class="monthly-checkbox-container">
          <input id="monthly-checkbox" class="monthly-checkbox" type="checkbox"/>
          <label for="monthly-checkbox" class="monthly-checkbox-label">
            {{ monthly_checkbox_label_text|default('Make my donation monthly', true) }}
          </label>
        </div>
      {% endif %}
    {% endif %}
  {% if blockable %}
    </div>
  {% endif %}

</div>
<script type="text/javascript">
  //<![CDATA[
  (function() {
    var snippet = document.getElementById("mofo-eoy-fundraiser");

    snippet.addEventListener("show_snippet", function () {
        var btnDonate = snippet.querySelector(".button-link");
        btnDonate.addEventListener("click", function(event) {
            if (!btnDonate.getAttribute("disabled")) {
                event.preventDefault();
                event.stopPropagation();
                btnDonate.setAttribute("disabled", "disabled");
                addToBlockList();
                // Give some time to IndexedDB. Bug 1236090
                setTimeout(function() { btnDonate.click() }, 500);
            }
        });

        {% if show_donation_amount_buttons %}

          var btnAmounts = snippet.querySelectorAll(".donation-amount");
          var btnSelected;
          var amount;

          var locale = "{{ locale|default('en-US', true) }}";
          var currencyCode = "{{ currency_code|default('usd', true) }}";

          var donationURL = btnDonate.attributes["href"].value;
          var delimiter = "?";
          if (donationURL.indexOf("?") >= 0) {
            delimiter = "&";
          }
          var dAmountFirst = "{{ donation_amount_first }}";
          var dAmountSecond = "{{ donation_amount_second }}";
          var dAmountThird = "{{ donation_amount_third }}";
          var dAmountFourth = "{{ donation_amount_fourth }}";
          var presets = [dAmountFirst, dAmountSecond, dAmountThird, dAmountFourth];

          var numberFormat = new Intl.NumberFormat(locale, {
            style: "currency",
            currency: currencyCode,
            minimumFractionDigits: 0
          });
          var dAmountFirstEl = snippet.querySelector(".donation-amount-first");
          var dAmountSecondEl = snippet.querySelector(".donation-amount-second");
          var dAmountThirdEl = snippet.querySelector(".donation-amount-third");
          var dAmountFourthEl = snippet.querySelector(".donation-amount-fourth");

          dAmountFirstEl.textContent = numberFormat.format(dAmountFirst);
          dAmountSecondEl.textContent = numberFormat.format(dAmountSecond);
          dAmountThirdEl.textContent = numberFormat.format(dAmountThird);
          dAmountFourthEl.textContent = numberFormat.format(dAmountFourth);

          function selectAmount(element) {
            if (!element) {
              return;
            }
            element.classList.add("button-selected");
            if (btnSelected) {
              btnSelected.classList.remove("button-selected");
            }
            btnSelected = element;
            amount = element.attributes["data-amount"].value;
          }
          var selected = "{{ selected_button|default('donation-amount-second', true) }}";
          selectAmount(snippet.querySelector("." + selected));

          var frequency = "single";
          {% if show_donation_amount_buttons and show_monthly_checkbox %}
            var monthlyCheckbox = snippet.querySelector("#monthly-checkbox");
            function updateFrequency() {
              frequency = "single";
              if (monthlyCheckbox.checked) {
                frequency = "monthly";
              }
            }
            updateFrequency();
            monthlyCheckbox.addEventListener("change", function() {
              updateFrequency();
              updateLink();
            });
          {% endif %}

          function updateLink() {
            btnDonate.attributes["href"].value = donationURL + delimiter + "amount=" + amount + "&currency=" + currencyCode + "&presets=" + presets + "&frequency=" + frequency;
          }
          updateLink();

          for(var i=0; i<btnAmounts.length; i++) {
            btnAmounts[i].addEventListener("click", function (event) {
              if (!event.target.classList.contains("button-selected")) {
                selectAmount(event.target);
                updateLink();
              }
            });
          }
        {% endif %}

        var elHighlighted = snippet.querySelector('em');
        if (elHighlighted) {
            // Fade in highlight on text
            setTimeout(function() {
                elHighlighted.classList.add('active');
            }, 1000);
        }
    });
 })();
 //]]>
</script>

