<!DOCTYPE html>
<html>
<head>
  <title>Snippet Prototype</title>
  <style type="text/css">%-css-%</style>
</head>
<body>
  <div id="snippet">
    <img class="placeholder" src="../placeholder.png">
    <p>Mozilla, the non-profit behind Firefox, relies on grants and donations from people like you. <em>If everyone reading this donates a few dollars, we can be fully funded for another year.</em></p>

    <div>
      <div class="donation-amounts pull-left">
        <button class="button button-selected" data-amount="10">$10</button>
        <button class="button" data-amount="5">$5</button>
        <button class="button" data-amount="3">$3</button>
      </div>

      <a id="donate-button" class="button button-red button-wide pull-right" href="http://example.org/#amount-10" target="_blank">Donate</a>
    </div>
  </div>

  <script>%-js-%</script>
</body>
</html>
