#mofo-eoy-2014 {
  width: 470px;
  margin: 20px auto;
  font-family: "Open Sans";
}

  #mofo-eoy-2014 button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  #mofo-eoy-2014 .placeholder {
    margin-bottom: 20px 0;
  }

  #mofo-eoy-2014 p {
    font-size: 14px;
    line-height: 1.5em;
    margin: 20px 0;
  }

  #mofo-eoy-2014 em {
    transition: background 800ms linear;
    font-style: normal;
    padding: 1px 5px;
  }

  #mofo-eoy-2014 em.active {
    background: rgba(173, 228, 255, 0.75);
  }

  #mofo-eoy-2014 .button {
    margin-top: 8px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(135, 136, 136, 0.53);
    background-color: rgb(151, 152, 152);
    background-image: linear-gradient(to top, rgba(0, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    border: 1px solid rgba(151, 152, 152, 0.9);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.65);
  }

  #mofo-eoy-2014 .button:hover {
    cursor: pointer;
  }

  #mofo-eoy-2014 .button:focus {
    text-decoration: underline;
    outline: 0;
  }

  #mofo-eoy-2014 .button-red {
    border: 1px solid rgba(230, 69, 61, 0.5);
    background-color: rgb(193, 56, 50);
    background-image: linear-gradient(to top, rgba(0, 1, 1, 0) 0%, rgba(255, 255, 255, 0) 100%);
    font-size: 18px;
  }

  #mofo-eoy-2014 .button-wide {
    padding: 7px 60px;
  }

  #mofo-eoy-2014 .button-selected {
    background: linear-gradient(rgb(75, 172, 238), rgb(2, 132, 225));
    border: 1px solid rgba(75, 172, 238, 0.9);
  }

  /* Utilities */

  #mofo-eoy-2014 .pull-right {
    float: right;
  }

  #mofo-eoy-2014 .pull-left {
    float: left;
  }
