{#
Newsletter signup snippet.

Variables:

  @block_button_text - small text - Text to display while hovering over opt out button. Default 'Remove this'
  @blockable: checkbox - Check to allow user to block this snippet.

  @text: main text - Text of snippet. Use `em` to hightlight text.
  @highlight_color: Optional. Defaults to #FFE7AC.
  @icon: image - Snippet icon. 64x64px. SVG or PNG preferred.
  @button_label: Required. Text for signup button.
  @email_placeholder: Placeholder message for email input.
  @privacy_policy: Privacy policy message.

  @basket_host: Default https://basket.mozilla.org. Where to send basket signups.
  @newsletters: Basket newsletter.
  @success_message: Signup success message.
  @success_redirect: Signup success redirect url.
  @error_message: Signup error message.

  @locale: Default en-US. String for the locale code.
  @reveal: How to revel the form. Optional. Options are click or hover or nothing.
  @click_to_reveal_text: Required if @reveal is click. Text to put on button for click to reveal.

#}
<style>

#snippetContainer div.snippet {
   margin: 30px 0;
   padding: 1px;
 {% if blockable %}
   margin: 10px 0;
   padding: 0;
 {% endif %}
}

#snippetContainer div.snippet img.icon {
    margin: 0 8px 0 0;
    float: none;
}

.snippet .main-container {
    padding-left: 0;
    font-size: 12px;
    width: 100%;
}

.snippet .headline-text {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.snippet .icon {
    position: relative;
    right: 0;
    top: 0;
    display: inline-block;
    height: auto;
    max-height: 64px;
}

{% if blockable %}
  .block-snippet-overlay {
      border: 1px solid transparent;
      height: 100%;
      box-sizing: border-box;
      margin: 0 -20px;
      padding: 20px;
  }

  .block-snippet-overlay:hover,
  .block-snippet-overlay-close {
      visibility: visible;
      border: 1px solid hsla(0,0%,0%,.1);
      box-shadow: 0px 2px 2px -1px hsla(0,0%,0%,.1);
      border-radius: 3px;
   }
{% endif %}

 .snippet .display-item {
     display: table-cell;
     vertical-align: top;
 }
 .snippet .display-container {
     display: table;
 }

  em {
    transition: background 800ms linear;
    font-style: normal;
    box-decoration-break: clone;
    margin: 0px -2px;
    padding: 2px 2px;
    font-weight: bold;
  }
  em.active {
    background: {{ highlight_color|default("#FFE7AC", true) }};
  }

 .email-input {
   height: 24px;
   box-sizing: border-box;
   border: 1px solid #C2C2C2;
   padding: 0 6px;
   vertical-align: middle;
   background: #FBFBFB;
   width: 100%;
   margin-top: 6px;
   box-shadow: none;
 }

 .input-container {
   display: flex;
 }

 .form-container {
   {% if reveal == "click" %}
     display: none;
   {% endif %}
   {% if reveal == "hover" %}
     visibility: hidden;
   {% endif %}
 }

 #snippet:hover .form-container {
   {% if reveal == "hover" %}
     visibility: visible;
   {% endif %}
 }

 .form-container.reveal {
     display: block;
 }

 .click-to-reveal {
   white-space: nowrap;
   height: 24px;
   vertical-align: middle;
   border: 1px solid #C2C2C2;
   background: #FBFBFB;
   padding: 0 30px;
   float: right;
   margin-top: 6px;
   border-radius: 5px;
   cursor: pointer;
 }

 .click-to-reveal.hide {
   display: none;
 }

 .hidden {
   display: none !important;
 }

 .button-link {
     position: relative;
     white-space: nowrap;
     height: 24px;
     vertical-align: middle;
     border: 1px solid #C2C2C2;
     background: #FBFBFB;
     padding: 0 16px;
     float: right;
     margin-left: 12px;
     margin-top: 6px;
     border-radius: 5px;
     cursor: pointer;
 }

  .button-link.loading::before {
    visibility: hidden;
  }

  .button-link.loading {
     cursor: auto;
  }
  .button-link::before {
    content: "{{ button_label }}";
  }

  .button-link.loading::after {
    content: "";
    position: absolute;
    line-height: 0;
    width: 16px;
    height: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -8px 0px 0px -8px;
    box-sizing: border-box;
    animation: 1.5s linear 0s normal none infinite running spin-{{ snippet_id }};
  }

  @-moz-keyframes spin-{{ snippet_id }} {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @keyframes spin-{{ snippet_id }} {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

 .basket-error {
   margin-top: 6px;
   color: #FF0000;
 }

 .success-message {
   margin-top: 6px;
 }

 .privacy-policy {
     margin-top: 6px;
     color: #A5A5A5;
 }

 .privacy-policy a {
     color: #A5A5A5;
     text-decoration: underline;
 }

 {% if blockable %}
   .block-snippet-button {
       position: absolute;
       top: -12px;
       right: -30px;
       z-index: 10;
       transform: scale(0);
       transition: transform 200ms;
       transition-delay: 0ms;
       height: 24px;
       width: 24px;
       background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAeFBMVEUAAAAAAAAAAAABAQEAAAAAAAAAAAAAAAAAAAAAAADDw8OQkJAAAAAAAAAAAAAAAAD9/f38/Pz6+vr5+fnt7e3i4uLd3d3Z2dmgoKBdXV0mJibv7++amprNzc2amprv7+////9zc3OwsLD29vaPj4+xsbHCwsLBwcHrzmRyAAAAIHRSTlMABAg9HhEMNxkir38xLCkV/Pr39OHTzceOYUrliLuJ5ik+KlgAAAGhSURBVEjHnZbrdoIwDIAXWii3UuV+0wV0+v5vOEBH2ajg8v3y6PlO2pgm+TAAYD0B+HgDsBxbuXzCVbZj7VgAju16USjYhAgjz7WdrVjgKC5FHfh5kxwOSZP7QS0kVw68PJLNJQuKIy44FgGT3LbAHMKNWJviirRlkWsKNIQIqwyNZFU4BFobnihjfEFcCm92tMF83MBnfxwYjBNuchocWN6cCx938AVf5MBywxJ3KUPX0seKqnhfiavIhvlYLMM3yNjP0UDJFmcuN/zF7aI/t1I9lCFIqo1r1y+Nr+6qnXQI87iJDJZGNzra6JZOIG2Y0iWK+bt7N9JrY+Q+/1yIKWmOVy9qt3862lgGPdaeM2U4QDQ52tAEY55BhT4aHS1r/FDBeJUcTY7JwHy8jMVZgybHZGDD+KQkuHbMBiZP5YBrx2zggaCQDka5PiHJhL9yq2B6c8FslmVvKsud4u8Nxb/3xPr1E9t9yP3qIf+vXZylAkJTIrQ+QoMltHHCsCCMJMLgo49XPcTPpiF+1kOcsCrsLSSfeiGhrj305Yqwwn0Dwi/I5rQKpwMAAAAASUVORK5CYII=");
       background-repeat: no-repeat;
       background-size: 24px 24px;
       background-color: transparent;
       border: 0;
       cursor: pointer;
   }

   #snippet:hover > .block-snippet-button {
       transform: scale(1);
   }

   #brandLogo:hover > .block-snippet-button {
       transform: scale(1);
   }
 {% endif %}

</style>

<div class="snippet" id="snippet">
  {% if blockable %}
    <div id="block-snippet-overlay" class="block-snippet-overlay">
  {% endif %}
      <div class="display-container">
        <form id="form"></form>
        <div class="display-item">
          <img class="icon" src="{{ icon }}" />
        </div>

        <div class="display-item main-container">
          <div class="headline-text">{{ headline_text|safe }}</div>
          <div>{{ text|safe }}</div>
        {% if reveal == "click" %}
          <button class="click-to-reveal">{{ click_to_reveal_text }}</button>
        {% endif %}
          <div lang="de" class="form-container">
            <div class="input-container">
              <input form="form" class="email-input" type="email" required="required"  placeholder="{{ email_placeholder }}"/>
              <button form="form" type="submit" class="button-link" href="{{ icon_url|safe }}"></button>
            </div>
            <div class="privacy-policy">{{ privacy_policy|safe }}</div>
          </div>
          <div class="basket-error hidden">
            {{ basket_error }}
          </div>
          <div class="success-message hidden">
            {{ success_message }}
          </div>
        </div>
      </div>
  {% if blockable %}
    </div>
  {% endif %}

  {% if blockable %}
    <button class="block-snippet-button" title="{{ block_button_text|default('Remove this', true) }}">
    </button>
  {% endif %}
</div>

<script type="text/javascript">
 //<![CDATA[
 (function() {
     var snippet = document.getElementById('snippet');

     snippet.addEventListener('show_snippet', function () {
          var overlay = document.getElementById('block-snippet-overlay');
          var xbuttons = document.querySelectorAll('.block-snippet-button');

          var button = snippet.querySelector(".button-link");
          var form = snippet.querySelector("#form");

          var formContainer = document.querySelector(".form-container");

          var emailInput = snippet.querySelector(".email-input");
          var basketError = snippet.querySelector(".basket-error");
          var successMessage = snippet.querySelector(".success-message");

          {% if reveal == "click" %}
            var clickToReveal = document.querySelector(".click-to-reveal");
            clickToReveal.addEventListener("click", function() {
              this.classList.add("hide");
              formContainer.classList.add("reveal");
              emailInput.focus();
            });
          {% endif %}

          function submit() {
            if (button.classList.contains("loading")) {
              return;
            }
            changeState(000);
            sendEmailToBasket();
          }

          document.querySelector("#form").addEventListener("submit", function(e) {
            e.preventDefault();
            submit();
          });

          function sendEmailToBasket() {
            var lang = "{{ locale|default('en-US', true) }}";
            var url = "{{ basket_host|default('https://basket.mozilla.org', true) }}" + "/news/subscribe/";
            var newsletters = "{{ newsletters }}";
            var source_url = "https://snippets.mozilla.com/show/{{ snippet_id }}";
            source_url = encodeURIComponent(source_url);
            var email = emailInput.value;
            var params = "newsletters=" + newsletters + "&source_url=" + source_url + "&lang=" + lang + "&email=" + email + "&trigger_welcome=N";
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
              if (request.readyState == 4) {
                changeState(request.status);
              }
            }

            request.open("POST", url);
            request.send(params);
          }

          function changeState(status) {
            if (status === 200) {
              button.classList.remove("loading");
              basketError.classList.add("hidden");
              successMessage.classList.remove("hidden");
              formContainer.classList.add("hidden");
              sendMetric("signup-success");
            } else if (status === 000) {
              //loading
              button.classList.add("loading");
              basketError.classList.add("hidden");
              successMessage.classList.add("hidden");
              {% if success_redirect %}
                window.location.href = "{{ success_redirect }}";
              {% endif %}
            } else {
              basketError.classList.remove("hidden");
              button.classList.remove("loading");
              successMessage.classList.add("hidden");
              sendMetric("signup-error");
            }
          }

          {% if blockable %}
            var mouseover = function(event) {
               overlay.classList.add('block-snippet-overlay-close');
            };

            var mouseout = function(event) {
               overlay.classList.remove('block-snippet-overlay-close');
            };
            for (var k = 0, l = xbuttons.length; k < l; k++) {
               var xbutton = xbuttons[k];
               xbutton.addEventListener('mouseover', mouseover, false);
               xbutton.addEventListener('mouseout', mouseout, false);
            }
          {% endif %}

          var elHighlighted = snippet.querySelector("em");
          // Fade in highlight on text
          setTimeout(function() {
            if (elHighlighted) {
              elHighlighted.classList.add("active");
            }
          }, 1000);
     });
 })();
 //]]>
</script>

